<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="Dashboard end point">
    <meta name="author" content="Simone Pasquini">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Themis::Dashboard</title>

    <!-- v4-alpha -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="https://v4-alpha.getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
</head>
<body>
    <!-- See if it can be better -->
    <div class="pos-f-t">
      <nav class="navbar navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-light p-4">
          <ul class="nav-item dropdown">
            <a class="nav-link
                dropdown-toggle"
                data-toggle="dropdown"
                href="#"
                role="button" aria-haspopup="true" aria-expanded="false">Transactions</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/transactions/2016/all">2016</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/transactions/2017/all">2017</a>
            </div>
          </ul>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Open transfers: {{ openTransactionsCount }} transfer open
      </div>
      <div class="card-block">
        <ul class="list-group list-group-flush">
          {% for transaction in openTransactions %}
          <li class="list-group-item">{{ transaction.operationdate }} &emsp; {{ transaction.tot }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="card-footer text-muted">
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
    <script>
    $( ".btn" ).click(function( event ) {
        var id = $(this).text();
        var value = $(this).attr("value");
        console.log(value)
        $.ajax({
            method: "PUT",
            url: `/api/transactions/${id}`,
            data: { underscore: value }
        })
            .done(function( html ) {
                location.reload();
            });
    });
    </script>
</body>
</html>
